<div class="container"
[@right-middle-left]="animationState">
  <div class="row">
    <div class="col col-lg-12">
      <h3>Hobbies</h3>
      <p>Here I'm gonna show you some stuff that I love doing besides coding</p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="center-text">
        <h4>Games</h4>
      </div>
      <div class="card games"></div>
      <div class="divider"></div>
      <p>I actually enjoy a lot of games, ranging from Rainbow 6 Siege to Fifa, but Rocket League 
        has a special place in my heart. It's been almost {{date.getFullYear() - 2015}} years since 
        I've first played it and I still love it</p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="center-text">
        <h4>Music</h4>
      </div>
      <div class="card music"></div>
      <div class="divider"></div>
      <p>Music is one of the best things in life, just on par with food, I guess, and lately I've been 
        listening so much rap, specially Drake (the one above), Childish Gambino and Travis Scott
      </p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="center-text">
        <h4>Anime</h4>
      </div>
      <div class="card anime"></div>
      <div class="divider"></div>
      <p>How do you define something that has been a part of your life since you were a child and taught 
        you some of the most important lessons in life? Yeah, it is that big for me
      </p>
    </div>
  </div>
</div>