.center-text{
    text-align: center;
}

.divider{
    width: 100%; 
    height: 3vh;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 11px 24px 0 rgba(0, 0, 0, 0.1);
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    border: none;
    border-radius: 0;
}

.games{
    background-color: #FFF;
    background-image:url("/assets/rocket-flat.png");
}

.music{
    background-color: #82D1DC;
    background-image:url("/assets/drake-flat.png");
}

.anime{
    background-color: #577599;
    background-image:url("/assets/vegeta-flat.jpg");
}

