.arrow{
    position:fixed;
    bottom: 50vh;
    height: 60px;
    width: 60px;
    line-height: 65px;
    font-size: 2em;
    color: #aaa; 
    border-radius: 50%;
    text-align: center;
    z-index: 2000;
    text-shadow:2px 4px 3px rgba(0,0,0,0.3);
}

.arrow:hover,
.arrow:active,
.arrow:focus{
    background-color: rgba(127, 127, 127, 0.192);
}

.left-arrow{
    left: 4vw;
}

.right-arrow{
    right: 4vw;
}

@media(max-width: 991px){
    .arrow{
        bottom: 4vh;
    }
}

