<div class="container"
  [@right-middle-left]="animationState">
  <div class="row lead">
    <div class="col col-lg-10 col-sm-12 center-elements">
      <h3>Skills</h3>
      <p>
        Here are some graphs to show you my set of hard and soft skills on a scale of zero to six
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-6 col-sm-12 ">
      <canvas id="soft-skills-canvas"></canvas>
    </div>
    <div class="col col-lg-6 col-sm-12">
      <canvas id="hard-skills-canvas"></canvas>
    </div>
  </div>
</div>
