<div class="row">
    <div class="col-lg-6 left">
        <div class="message-block">
            <div class="bar"></div>
            <div class="dot"></div>
            <div class="arrow-right"></div>
            <div class="message-header">
                Mensagem exemplo
            </div>
            <div class="message-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed efficitur
                metus. Quisque posuere sit amet ante vel maximus. In mollis odio eget luctus efficitur. Fusce efficitur
                consectetur faucibus. Nulla facilisi. Donec nibh lectus, eleifend non mattis euismod, viverra ac ante.
                Sed
                pulvinar lectus nec sem malesuada, vitae dignissim nunc congue. Maecenas ullamcorper quam ut magna
                elementum, vel mattis ligula elementum.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 right">
        <div class="message-block">
            <div class="message-header">Mensagem exemplo</div>
            <div class="message-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed efficitur
                metus. Quisque posuere sit amet ante vel maximus. In mollis odio eget luctus efficitur. Fusce efficitur
                consectetur faucibus. Nulla facilisi. Donec nibh lectus, eleifend non mattis euismod, viverra ac ante.
                Sed
                pulvinar lectus nec sem malesuada, vitae dignissim nunc congue. Maecenas ullamcorper quam ut magna
                elementum, vel mattis ligula elementum.</div>
            <div class="bar right"></div>
            <div class="dot right"></div>
            <div class="arrow-left"></div>
        </div>
    </div>
</div>