/* You can add global styles to this file, and also import other style files */
div{
    font-size: 1.05em;
}

.container{
    padding: 2vh 0 2vh 0;
    position: relative;
}

.hidden { visibility: hidden; }

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInLeft{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.center-elements{
    margin: 0 auto;
}

p{
    text-align: justify;
}