/* You can add global styles to this file, and also import other style files */
div{
    font-size: 1.05em;
}

.container-fluid{
    padding: 2vh 2vw 2vw 2vh;
}

.hidden { visibility: hidden; }

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInLeft{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}