/* You can add global styles to this file, and also import other style files */

@import 'open-iconic/font/css/open-iconic-bootstrap.min.css';

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

div{
    font-size: 1.05em;
}

.container{
    padding: 2vh 0 2vh 0;
    position: relative;
}

.hidden { visibility: hidden; }

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInLeft{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.center-elements{
    margin: 0 auto;
}

p{
    text-align: justify;
}

mgl-timeline-entry-header{
    box-shadow: -5px 8px 17px -6px rgba(0,0,0,0.24);
    cursor:pointer;
}

.expanded>div>div>.dot{
    line-height: inherit;
    text-align: left;
    z-index:inherit;
}