<div class="container" 
  [@right-middle-left]="animationState">
  <div class="row">
    <div class="col col-lg-8 center-elements">
      <div class="avatar-container">
        <img src="assets/avatar.svg" class="avatar">
      </div>
     
      <p>
        Hi
        I'm Robert and welcome to my website, where I'll guide you trough a demonstration of my skills
      </p>
      <p>
        I could have just used a regular wordpress for portfolio, like everybody else, 
        but instead, I'm gonna show some of my angular and bootstrap skills trough this website, 
        hope you like it
      </p>
    </div>
  </div>
</div>