.avatar{
    height: 100px;
}

.avatar-container{
    height:auto;
    width:auto;
    background-color: #DDD;
    border-radius: 50%;
    text-align: center;
    overflow:hidden;
    width:100px;
    margin: 0 auto;
}