<div class="container-fluid">
  <div class="row">
    <div class="banner"></div>
  </div>
</div>

<div class="container" 
  [@right-middle-left]="animationState">
  <div class="row">
    <div class="col col-lg-8 center-elements">
      <div class="avatar-container">
        <img src="assets/avatar.svg" class="avatar">
      </div>
     
      <p>
        Hi,
        I'm Robert and welcome to my website, where I'll talk a little bit about myself
      </p>
      <p>
        Currently I'm a junior web developer and a freelancer, if you have any interest already, 
        get in touch with me <a routerLink="/contact">here</a>
      </p>
    </div>
  </div>
</div>